body {
  margin: 0;
  font-family: 'Courier New';
  text-align: center;
  background-color:#026919be;
  background-image: url(./pub.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  background-position-y: center;
  color: white
}

.card {
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 10rem;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #4be06bbe;
  background-color: rgb(24, 24, 24);
  vertical-align: top;
  justify-items: auto;
}

a,
a:visited
h1,
h2,
h3,
p {
  background-color: rgb(24, 24, 24);
  width: fit-content;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: white
}

table, td, th{
  margin: auto;
  border-color: white;
  border: 1px solid;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(24, 24, 24);
}

.textContainer {
  background-color: rgb(24, 24, 24);
  width: 80%;
  margin: auto;
  padding: 1%;
  padding-bottom: 5%;
}